body {
  font-family: 'Helvetica';
  color: navy;
  background-color: #ffffff;
  font-size: 18px;
}

.form {
  font-weight: bold;
}

.formulaireIntit {
  color: blue;
}

.cadre {
  border-width: 2px;
  border-color: chocolate;
  border-style: solid;
}

.marged {
  margin-top: 100px;
}
