body {
  font-family: 'Helvetica';
}

.form {
  font-weight: bold;
}

.formulaireIntit {
  color: blue;
  font-size: 30px;
  font-weight: bold;
}

form table tr td {
  font-weight: bold;
  font-size: 18px;
  color: navy;
}

.cadre {
  border-width: 2px;
  border-style: solid;
  border-color: chocolate;
  background-color: #ffffff;
}

.marged {
  margin-top: 50px;
}

.centered {
  text-align: center;
}

.centeredTable {
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 200px;
  max-height: 100px;
}

ul {
  list-style: none;
}
